pydub
torchvision

langchain
langchain-text-splitters
langchain-core
langchain-community
langchain-mistralai        
langchain-groq      
mistralai         
groq         
sentence-transformers
langchain-huggingface  
tiktoken 
streamlit
streamlit-extras
watchdog
reportlab
fpdf2
python-dotenv              
numpy
tqdm                      
requests
fastapi
uvicorn
python-multipart

